<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>添加课程</title>
<link rel="stylesheet" type="text/css" href="/public/css/user/course.css">
<link rel="stylesheet" href="/public/css/index/bootstrap.min.css">
<!--<link rel="stylesheet" href="/public/css/index/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="/public/css/index/flat-ui.min.css">
<script src="/public/js/index/jquery-3.1.1.min.js"></script>
<!--<script src="/public/js/index/bootstrap.min.js"></script>-->
<script src="/public/js/index/flat-ui.min.js"></script>
<script lang="javascript" type="text/javascript" src="/public/js/user/ajaxfileupload.js"></script>
<script lang="javascript" type="text/javascript" src="/public/js/user/course.js"></script>
</head>
<body>
	<div class="header">
		{include file="../application/index/view/include/header.html" uname="$userInfo.uname" /}
	</div>
	<div class="main">
		<div class="left">
			{include file="../application/index/view/include/left.html" /}
		</div>
		<div class=center>
			<div class="btn-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addcourse">
                    添加课程
                </button>
            </div>
            <div class="modal fade" id="addcourse" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="addcourseLabel">添加课程</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" id="course_name" placeholder="课程名称" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="btn_addcourse_close" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="btn_addcourse">添加</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editcourse" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="editcourseLabel">编辑课程详细信息</h4>
                        </div>
                        <div class="modal-body"> 
                            <input type="text" class="form-control leftinput" id="edit_course_name" value="" disabled />
                            <img src="" width="100px" id="course_imgsrc" />
    						<input type="file" accept="image/png,image/gif,image/jpeg" name="course_img" id="course_img" />
                            <input type="hidden" id="course_cid" value="" />
                            <input type="hidden" id="course_cdid" value="" />
                            <textarea class="form-control leftinput" rows="3" id="course_introduce" placeholder="详细信息"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="btn_editcourse">修改</button>
                        </div>
                    </div>
                </div>
            </div>
            <div  id='course_info' class="row">
                
            </div>
            <div class="update_wait">
                <img src="/public/img/loging.gif" alt="">
            </div>
		</div>
	</div>
	<div class="footer">
		{include file="../application/index/view/include/footer.html" /}
	</div>
</body>
</html>